
<div class="wrapper" >
  <!-- Banner Start -->
	<div class="banner padd">
		<div class="container">
			<!-- Image -->
			<img class="img-responsive" src="assets/crown-white.png" alt="" />
			<!-- Heading -->
			<h2 class="white">Edit User</h2>
			<ol class="breadcrumb">
				<li>Home</li>
				<li>User</li>
				<li class="active">Edit User</li>
			</ol>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div class="container">
    	<div class="row">
    	  <div class="col-md-12 col-sm-12">
    	    <%= render 'form' %>
    	  </div>
    </div>
</div>

