
    <!-- Banner Start -->
	<div class="banner padd">
		<div class="container">
			<!-- Image -->
			<%= image_tag("crown-white.png", class: "img-responsive")%>
			<!-- Heading -->
			<h2 class="white">New Product</h2>
			<ol class="breadcrumb">
    			<li>Home</li>
    			<li>Product</li>
    			<li class="active">New Product</li>
			</ol>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Banner End -->
	
	<div class="container">
    	<div class="row">
    	  <div class="col-md-12 col-sm-12">
    	    <%= render 'form' %>
    	  </div>
    	</div>
    </div>