<!-- Header End -->

<!-- Banner Start -->

<div class="banner padd">
	<div class="container">
		<!-- Image -->
		<%= image_tag("crown-white.png", class: "img-responsive")%>
		<!-- Heading -->
		<h2 class="white">Contact Us</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Contact</li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>

<!-- Banner End -->



<!-- Inner Content -->
<div class="inner-page padd">

	<!-- Contact Us Start -->
	
	<div class="contactus">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!-- Contact Us content -->
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<!-- Contact content details -->
							<div class="contact-details">
								<!-- Heading -->
								<h4>Location</h4><!-- Address / Icon -->
								<i class="fa fa-map-marker br-red"></i> <span>#223 Phillips Hall, <br />
16 North Clinton Street<br /> Ithaca - 14850</span>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<!-- Contact content details -->
							<div class="contact-details">
								<!-- Heading -->
								<h4>Contact Information</h4>
								<!-- Contact Number / Icon -->
								<i class="fa fa-phone br-green"></i> <span>(607) 379-2985</span>
								<div class="clearfix"></div>
								<!-- Email / Icon -->
								<i class="fa fa-envelope-o br-lblue"></i> <span>bw476@cornell.edu</span>
								<div class="clearfix"></div>
							</div>
						</div>
					</div><!--/ Inner row end -->
					<!-- Contact form -->
					<%= render 'form' %>
				</div>
				<div class="col-md-6">
					<!-- Map holder -->
					<div class="map-container">
						<!-- Google Map -->
						<iframe	src="https://maps.google.co.in/?ie=UTF8&amp;ll=42.446529,-76.4765519&amp;spn=0.815042,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Contact Us End -->
	
</div><!-- / Inner Page Content End -->
