<ion-view view-title="Contact Us">
  <ion-content>
  	<div class="card">
  		<div class="item item-divider">
            Location Information
        </div>
  		<div class="item item-body item-text-wrap">
    		<h2>Our Address</h2>
            <address style="font-size: 100%">
              Phillips Hall, Room 209
              Ithaca, NY 14853<br>
              <i class="ion-ios-telephone"></i>: +852 1234 5678<br>
              <i class="ion-printer"></i>: +852 8765 4321<br>
              <i class="ion-email"></i>: 
              <a href="mailto:pizzahot@food.net">pizzahot@food.net</a>
            </address>
    	</div>
    	<div class="button-bar">
		  <button class="button button-positive icon-left ion-ios-telephone">Call</button>
		  <button class="button button-calm icon-left ion-social-skype">Skype</button>
		  <button class="button button-balanced icon-left ion-email">Email</button>
		</div>
  	</div>

  </ion-content>
</ion-view>
