<!-- Footer Start -->

<div class="footer padd">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<!-- Footer widget -->
				<div class="footer-widget">
					<h4>About Pizza Hot</h4>
					<!-- Paragraph -->
					<p>Taihang Ye<span> CEO</span></p>
					<p>Baoyue Wang<span> CFO</span></p>
					<p>Junyin Chen<span> CTO</span></p>
					<hr />
					<!-- Heading -->
					<h6>On-line Payment Clients</h6>
					<!-- Images -->
					<a href="#"><img class="payment img-responsive" src="/assets/payment/2co.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/authorizenet.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/discover.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/egold.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/mastercard.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/paypal.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/visa.gif" alt="" /></a>
					<a href="#"><img class="payment img-responsive" src="/assets/payment/worldpay.gif" alt="" /></a>
				</div> <!--/ Footer widget end -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- Footer widget -->
				<div class="footer-widget">
					<!-- Heading -->
					<h4>Cooperative Restaurants</h4>
					<!-- Images -->
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
					<a href="#"><img class="dish img-responsive" src="/assets/dish/dish1.jpg" alt="" /></a>
				</div> <!--/ Footer widget end -->
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-md-3 col-sm-6">
				<!-- Footer widget -->
				<div class="footer-widget">
					<!-- Heading -->
					<h4>Join Us Today</h4>
					<!-- Paragraph -->
					<p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>
					<!-- Subscribe form -->
					<form role="form">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Your name" />
						</div>
						<div class="form-group">
							<input class="form-control" type="email" placeholder="Your email" />
						</div>
						<button class="btn btn-danger" type="button">Subscribe</button>
					</form>
				</div> <!--/ Footer widget end -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- Footer widget -->
				<div class="footer-widget">
					<!-- Heading -->
					<h4>Contact Us</h4>
					<div class="contact-details">
						<!-- Address / Icon -->
						<i class="fa fa-map-marker br-red"></i> <span>Cornell University,<br /> Ithaca NY, 14853</span>
						<div class="clearfix"></div>
						<!-- Contact Number / Icon -->
						<i class="fa fa-phone br-green"></i> <span>607-379-2985</span>
						<div class="clearfix"></div>
						<!-- Email / Icon -->
						<i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">bw476@cornell.edu</a></span>
						<div class="clearfix"></div>
					</div>
					<!-- Social media icon -->
					<div class="social">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
					</div>
				</div> <!--/ Footer widget end -->
			</div>
		</div>
		<!-- Copyright -->
		<div class="footer-copyright">
			<!-- Paragraph -->
			<p>&copy; Copyright 2015 <a href="#">Pizza Hot Team</a></p>
		</div>
	</div>
</div>

<!-- Footer End -->