
      <!-- Banner Start -->
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<%= image_tag("crown-white.png", class: "img-responsive") %>
					<!-- Heading -->
					<h2 class="white">Welcome</h2>
					<ol class="breadcrumb">
						<li>Home</li>
						<li>User</li>
						<li class="active">Welcome</li>
					</ol>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- Banner End -->
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="component-content" style="margin-top:40px;">
							<h3 style="font-family:'Open Sans', sans-serif;">It's <strong><%= Time.now %></strong>, We have <strong><%= pluralize(@total_orders, "order") %>.</strong></h3>
						</div>
						
						
          		</div>
			</div>
		</div>
